#nav-pic {
    max-width: 6.5vw;
    max-height: 6.5vh;
}
#popover-body {
    max-height: 80vh;
    overflow-y: visible;
}

@media screen and (max-width: 675px) {
    .origin-popover {
        font-size: 10px;
    }
    #popover-body {
        max-height: 80vh;
    }
    #popover-spec-image {
        float: right;
        margin-top: 2.5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        transform: scale(3.5);
    }
}