#popover, #popover-header, #popover-body {
    font-family: 'Cinzel';
    /* background-color: #191919; */
    background: #fafafa;
    color: purple;
    box-shadow: 10px 5px 20px 0 rgba(80, 0, 0, 0.55), 10px 6px 20px 0 rgba(80, 0, 0, 0.55);
    font-weight: 900;
}
#nav-pic {
    max-width: 6.5vw;
    max-height: 6.5vh;
}
/* #popover-spec-image {
    float: right;
    margin-top: -5px;
} */
#popover-body {
    max-height: 80vh;
    /* overflow-y: auto; */
    overflow-y: visible;
}
.eqp-popover {
    font-size: 20px;
    border: 1.5px solid orangered;
}
.eqp-popover.spec {
    border: 2px solid purple;
}

/* #origin-pic {
    width: 10vw;
    border: 2px solid purple;
    border-radius: 50%;
} */

@media screen and (max-width: 675px) {
    .origin-popover {
        font-size: 10px;
    }
    #popover-body {
        max-height: 80vh;
    }
    #popover-spec-image {
        float: right;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        transform: scale(3.5);
        
    }
    #origin-pic {
        /* width: 20vw; */
        border: 1px solid purple;
        /* border-radius: 50%; */
    }
}