#popover, #popover-header, #popover-body {
    font-family: 'Cinzel';
    /* background-color: #191919; */
    background: #fafafa;
    color: purple;
    box-shadow: 10px 5px 20px 0 rgba(80, 0, 0, 0.55), 10px 6px 20px 0 rgba(80, 0, 0, 0.55);
    font-weight: 900;
}
#nav-pic {
    max-width: 6.5vw;
    max-height: 6.5vh;
}
#popover-image {
    float: right;
    margin-top: -5px;
}
.eqp-popover {
    font-size: 20px;
    border: 1.5px solid orangered;
    
}
#origin-pic {
    max-width: 5vw;
    border: 2px solid purple;
    border-radius: 50%;
}