#message-card {
    width: 90%;
    height: 80%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}
.friend-message {
    float: left;
    margin: 1%;
}
.user-message {
    float: right;
    margin: 1%;
}

@media screen and (max-width: 675px){
    #chat-form {
        width: 100%;
        margin-top: -25px;
    }
    .friend-message, .user-message {
        font-size: 10px;
        margin: 2.5%;
    }
}