#profile-banner {
    border-radius: 5px;
    /* width: 100%; */
    /* background-image: linear-gradient(to right top, #500000, #7a0e0d, #a62210, #d2380e, #ff5100); */
    height: 100px;
}

#ascean-banner {
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 95px;
    margin-top: 0.1%;
}
#banner-profile-pic {
    /* max-width: 22.5%; */
    float: left;
    /* margin-top: 0px; */
    /* margin-left: 5%;
    margin-right: 5%; */
    /* display: block; */
}

#banner-ascean-profile {
    /* max-width: 22.5%; */
    float: right;
    /* margin-right: 0; */
    /* display: block; */
    /* margin-left: auto; */
    
}

#ascean-name {
    font-style: oblique;
    text-align: center;
    margin-top: 5px;
}
#profile-banner-pic {
    width: 100%;
    border: 2px solid purple;
    border-radius: 50%;
}
#ascean-banner-pic {
    width: 100%;
    border: 2px solid purple;
    border-radius: 50%;
}

@media screen and (max-width: 675px) {

    #banner-profile-pic {
        margin-left: 5%;
        margin-right: auto;
        width: 25%;
        height: 25%; 
        display: block;
    }
    
    #banner-ascean-profile {
        margin-left: auto;
        margin-right: 5%;
        width: 25%; 
        height: 25%;
        display: block;
        
    }

    #ascean-banner {
        border-radius: 5px;
        margin-right: auto;
        width: 95%;
        height: 95px;
        margin-top: 0.1%;
    }
}