#profile-banner {
    border-radius: 5px;
    height: 100px;
}

#ascean-banner {
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 95px;
    margin-top: 0.1%;
}
#banner-profile-pic {
    float: left;
}

#banner-ascean-profile {
    float: right;
    
}

#ascean-name {
    font-style: oblique;
    text-align: center;
    margin-top: 5px;
}
#profile-banner-pic {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
    border-radius: 50%;
    overflow: hidden;
}
#ascean-banner-pic {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 675px) {

    #banner-profile-pic {
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px; 
        display: flex;
    }
    
    #banner-ascean-profile {
        margin-left: auto;
        margin-right: auto;
        width: 80px; 
        height: 80px;
        display: flex;
        
    }

    #ascean-banner {
        border-radius: 5px;
        margin-right: auto;
        width: 95%;
        height: 95px;
        margin-top: 0.1%;
    }

    #ascean-name {
        font-size: 16px;
    }
}