#game-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(9, 10%); 
  position: fixed;
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-size: auto;
  background-position: center;
  /* border: purple 3px solid; */
  /* background-repeat: no-repeat; */
}
#game-block {
  margin-left: 7.5%;
  transform: scale(1.1);
  grid-row-start: 7;
  position: relative;
}
#opponent-block {
  grid-row-start: 1;
  grid-column-start: 2;
  margin-left: 25%;
  transform: scale(1.1);
  margin-top: -10%;
}

.overlay-content {
  color: gold;
  text-shadow: 1.5px 1.5px 1.5px darkgoldenrod;
  text-align: center;
  font-variant: small-caps;
  position: absolute;
  opacity: 0;
  max-height: 70vh;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 18px;
}
.overlay-content-combat {
  color: white;
  text-shadow: 1.5px 1.5px 1.5px black;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  font-variant: small-caps;
  position: absolute;
  opacity: 0;
  max-height: 70vh;
  overflow-y: auto;
  white-space: pre-wrap;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.journal-button {
  position: absolute;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: -16%;
  margin-top: -2.75%;
  z-index: 50;
  color: goldenrod;
}

.status-effects {
  grid-row-start: 6;
  grid-column-start: 1;
  background: black;
  width: 25%;
  height: 35%;
}
#console {
  margin-top: 30%;
  border-radius: 6px;
}
#textarea {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 8;
  margin-left: -12.5%;
  height: 100vh;
  display: inline-block;
  
  z-index: -1;
}
.story-box {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 150px;
  border: 2px solid purple;
  background-color: black;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px black;
}
.story-box-content {
  color: #fdf6d8;
  text-align: center;
  margin-top: 1%;
  overflow-y: scroll;
  height: 150px;
  width: 100%;
  white-space: pre-wrap;
}
.dialog-box {
  position: absolute; /* add this */
  top: 42.5%; /* position the dialog box in the center vertically */
  left: 50%; /* position the dialog box in the center horizontally */
  transform: translate(-50%, -50%); /* adjust the position of the dialog box to account for its own width and height */
  height: 325px;
  width: 100%;
  border: 2px solid purple;
  border-radius: 6px;
  background-color: black;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px black;
  font-size: 14px;
}
.dialog-text {
  height: 325px;
  width: 75%;
  margin-top: 1%;
  color: #fdf6d8;
  overflow-y: scroll;
  text-align: center;
}
.dialog-options {
  text-align: center;
  height: 325px;
  width: 25%;
  border-left: 2px solid purple;
  overflow-y: scroll;
}
#popover-inv, #popover-header-inv, #popover-body-inv {
  font-family: 'Cinzel';
  background: #fafafa;
  color: purple;
  box-shadow: 10px 5px 20px 0 rgba(80, 0, 0, 0.55), 10px 6px 20px 0 rgba(80, 0, 0, 0.55);
  font-weight: 900;
}
@media screen and (max-height: 775px) {
  .dialog-box {
    margin-top: -1%;
  }
}
.city-button {
  grid-column-start: 4;
  grid-row-start: 7;
  color: purple;
  background: black;
  border: 2px solid purple;
  width: 100%;
  height: 50%;
  margin-top: 25%;
  /* margin-left: -25%; */
  box-shadow: 2px 2px 2px black;
}
.dialog-button {
  grid-column-start: 3;
  grid-row-start: 8;
  color: purple;
  background: black;
  border: 2px solid purple;
  width: 100%;
  height: 50%;
  margin-left: -25%;
  box-shadow: 2px 2px 2px black;
}
.inventory-bag {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(36, 16%);
  justify-content: space-evenly;
  z-index: 99;
  color: #fdf6d8;
  background-color: black;
  border: 3px solid purple;
  box-shadow: 2px 2px 2px black;
  width: 100vw;
  height: 62vh;
  overflow-y: scroll;
  border-radius: 6px;
}
.inventory-bag-settings {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(36, 16%);
  justify-content: space-evenly;
  z-index: 99;
  margin-left: -3%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  color: #fdf6d8;
  background-color: black;
  border: 3px solid purple;
  box-shadow: 2px 2px 2px black;
  width: 98%;
  height: 57vh;
  overflow-y: scroll;
  border-radius: 6px;
}
.inventory-button {
  grid-column-start: 4;
  grid-row-start: 8;
  color: purple;
  background: black;
  border: 2px solid purple;
  width: 100%;
  height: 50%;
  box-shadow: 2px 2px 2px black;
}
.inventory-icon {
  width: 64px;
  height: 64px;
  background-color: black;
  color: #fdf6d8;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
};

.rarity-common {
  border: 5px solid white;
}

.rarity-uncommon {
  border: 5px solid green;
}

.rarity-rare {
  border: 5px solid blue;
}

.rarity-epic {
  border: 5px solid purple;
}

.rarity-legendary {
  border: 5px solid orange;
}

.text-box {
  font-family: monospace;
  border: 2px solid purple;
  box-shadow: 2px 2px 2px black; 
  background-color: black;
  color: #fdf6d8;
  font-size: 10px;
  text-align: center;
}
.game-block {
  grid-column-start: 1;
  grid-row-start: 6;
  display: inline-block;
  position: relative;
  text-align: left;
  min-width: 150px;
  height: 65%;
  bottom: -25%;
  left: 0%;
}
.actionButtons {
  display: block;
  position: absolute;
  display: inline-block;
  margin-top: 15%;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 112.5%;
  margin-left: -12.5%;
  grid-row-start: 8;
  padding: 1%;
  border: 2px solid purple;
  border-radius: 6px;
  background: black;
  box-shadow: 2px 2px 2px black;
}

.prayers {
  width: 100vw;
  margin-left: -15%;
  text-align: center;
  grid-row-start: 5;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-size: 20px;
}

.prayer-button {
  max-width: 100%;
  max-height: 100%;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}

.instant-button {
  max-width: 65%;
  max-height: 65%;
  background-color: black;
  grid-column-start: 3;
  grid-row-start: 7;
  margin-left: -10%;
  font-size: 1.1rem;
  border-radius: 50%;
  text-shadow: 1.5px 1.5px 1.5px black;
}
.instant-button:disabled {
  display: none;
}
.invoke {
  font-size: 1.1rem;
  text-shadow: 1.5px 1.5px 1.5px black;
  grid-column-start: 3;
  grid-row-start: 6;
  margin-top: 3.25em;
}
.invoke-instant {
  display: none;
}
#action-button {
  font-size: 8px;
  color: rgb(226, 130, 255);
  background-color: black;
  padding: 1.5px;
  display: inline-block;
  margin-bottom: 4px;
}
#dodge-button {
  font-size: 8px;
  color: rgb(226, 130, 255);
  background-color: black;
  padding: 1.5px;
  display: inline-block;
  margin-bottom: 4px;
}
#dodge-button:disabled {
  display: none;
}
#initiate-button {
  font-size: 8px;
  background-color: black;
  color:blueviolet;
  padding: 1.5px;
  display: inline-block;
  margin-bottom: 4px;
}
#initiate-button:disabled {
  display: none;
}

.action-reader {
  display: block;
  position: absolute;
  display: inline-block;
  text-align: center;
  border: 2px solid purple;
  padding: 10px;
  background: black;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 7;
  font-size: 10px;
  color: #fdf6d8;
  height: 12.5%;
  margin-top: 10%;
  margin-left: -12.5%;
  width: 112.5%;
  box-shadow: 2px 2px 2px black;
  border-radius: 6px;
}
#auto-engage {
  grid-column-start: 3;
  grid-row-start: 8;
  border: 2px solid purple;
  background: black;
  font-size: 10px;
  height: 50%;
  width: 100%;
  margin-top: -17.5%;
  margin-left: -25%;
  color: blueviolet;
  box-shadow: 2px 2px 2px black;
}
#player-health {
  background-color: red;
  box-shadow: 1px 1px 2px black;
}
#player-xp {
  background-color: transparent;
  border: 2px solid black;
  margin-top: -6.5%;
  height: 15%;
  left: -0.75%;
}
#story {
  max-width: 34%;
}
.progress {
  position: absolute;
  overflow: hidden;
  width: 110%;
  margin-left: -5%;
  font-size: 16px;
  color: #fdf6d8;
  font-weight: 900;
  background: transparent;
  text-shadow: 1.5px 1.5px 1.5px black;
}
.progress-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  
}
.progressxp {
  position: absolute;
  width: 100%;
  font-size: 12px;
  color: #fdf6d8;
  font-weight: 600;
  background: transparent;
  
}
.progressxp-text {
  text-align: center;
  margin-top: -9%;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;

}
#damage-options {
  background-color: rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
  justify-content: center;
  color: purple;
  font-weight: 600;
  border: 2px solid purple;
  border-radius: 6px;
  height: 50%;
  width: 110%;
  margin-left: -25%;
  grid-column-start: 3;
  grid-row-start: 6;
  box-shadow: 2px 2px 2px black;
}
#attack-options {
  background-color: rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
  justify-content: center;
  color: blueviolet;
  font-weight: 600;
  border: 2px solid purple;
  height: 50%;
  margin-left: -12.5%;
  margin-top: -17.5%;
  grid-column-start: 4;
  grid-row-start: 8;
  box-shadow: 2px 2px 2px black;
  border-radius: 6px;
}
#prayer-options {
  background-color: rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;
  justify-content: center;
  color: purple;
  font-weight: 600;
  border: 2px solid purple;
  border-radius: 6px;
  height: 50%;
  width: 110%;
  margin-left: 60%;
  grid-column-start: 1;
  grid-row-start: 6;
  box-shadow: 2px 2px 2px black;
}

.combat-settings {
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: goldenrod;
  font-weight: 600;
  border: 2px solid goldenrod;
  border-radius: 6px;
  height: 50%;
  padding: 2.5%;
  margin-right: 2.5%;
  box-shadow: 2px 2px 2px black;
}
.settings-accordion {
  font-size: 14px;
}
#computer-animation {
  margin-left: -10%;
}
#player-animation {
  margin-left: -15%;
}
.joystick-outer {
  width: 100px;
  height: 100px;
  border: 3px solid purple;
}
.joystick-inner {
  width: 50px;
  height: 50px;
  border: 2px solid purple;
}

.dialog-buttons {
  font-size: 9px;
  font-variant: small-caps;
  outline: none;
  color: green;
}

#flicker {
  animation: flicker 1.5s linear;
}

@keyframes flicker {
  0% {
    opacity: 0.33;
    background-color: rgba(255, 0, 0, 0.66);
  }
  33% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
  }
  66% {
    opacity: 0.33;
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
  }
}


@media screen and (max-width: 800px) {
  .game-block {
      height: 100%;
  }
  .game-stat h4,
  .game-stat p {
        font-size: 10px;
  } 
  .text-box {
      height: 20%;
      width: 100%;
      font-size: 7.5px;
  }
}

.game-map {
  border: 2px solid purple;
  z-index: 99;
  position: absolute;
  background-color: black;
}
.gameplayername {
  font-size: 13.5px;
}
.quest-buttons {
  font-size: 9px;
}

.dialog-picture {
  width: 15vw;
}
.firewater {
  float: right;
  color: gold;
  z-index: 999;
  display: flex;
  grid-column-start: 3;
  grid-row-start: 7;
  margin-top: 22.5%;
}
.dialog-buttons.inner {
  font-size: 16px;
}
@media screen and (min-width: 1000px) {
  #game-container {
    background-repeat: no-repeat;
  }
  #game-block {
    transform: scale(1.75);
    margin-left: 35%;
    top: -25%;
  }
  #opponent-block {
    grid-row-start: 2;
    transform: scale(1.75);
    left: 35%;
  }
  .settings-button {
    transform: scale(1.75);
    margin-left: 0%;
    margin-top: 1%;
  }
  .settings-accordion {
    font-size: 18px;
  }
  .map-button {
    transform: scale(2);
    left: 0%;
    top: 4.25%;
  }
  .journal-button {
    transform: scale(2);
    left: -8%;
    top: 4%;
  }
  #computer-animation {
    grid-column-start: 4;
    margin-left: 15%;
  }
  #player-animation {
    grid-column-start: 2;
    margin-left: -45%;
  }
  .joystick-outer {
    width: 200px;
    height: 200px;
    border: 5px solid gold; 
  }
  .joystick-inner {
    width: 100px;
    height: 100px;
    border: 4px solid gold;
  }
  #console {
    transform: scale(1.25);
    margin-top: 7.5%;
    border-radius: 6px;
    font-size: 16px;
  }
  #textarea {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .action-reader {
    padding-top: 6%;
    font-size: 24px;
    margin-top: -20%;
    height: 20%;
  }
  #auto-engage {
    font-size: 24px;
    margin-top: -25%;
    height: 75%;
  }
  #attack-options {
    font-size: 24px;
    margin-top: -25%;
    height: 75%;
  }
  #action-buttons {
    margin-top: -2.5%;
    font-size: 24px;
  }
  .actionButtons{
    height: 20%;
  }
  #action-button, #initiate-button, #dodge-button {
    font-size: 24px;
    margin-left: 2.5%;
  }
  .combat-settings {
    font-size: 24px;
  }
  .prayers {
    width: 100vw;
    height: 10vh;
    margin-left: -5%;
    margin-top: 15%;
    grid-row-start: 5;
    text-shadow: 1.5px 1.5px 1.5px black;
    /* font-size: 20px; */
  }
  
  .prayer-button {
    width: 6.5%;
    height: 75%;
  }
  .prayer-button img {
    transform: scale(2);
  }
  
  .instant-button {
    max-width: 25%;
    max-height: 100%;
    background-color: black;
    grid-column-start: 3;
    grid-row-start: 6;
    margin-top: -2.5%;
    margin-left: 49%;
    font-size: 1.1rem;
    text-shadow: 1.5px 1.5px 1.5px black;
  }
  .instant-button img {
    transform: scale(2);
  }
  .invoke {
    font-size: 1.25rem;
    grid-row-start: 5;
    grid-column-start: 3;
    margin-left: 55.5%;
  }
  .status-effects {
    background: black;
    width: 15%;
    height: 35%;
    margin-bottom: 20.5%;
  }
  #player-xp {
    height: 25%;
    margin-top: 11.5%;
    margin-left: 5%;
  }
  .progressxp-text {
    margin-top: 10.25%;
    font-size: 16px;
  }
  .progress {
    height: 30%;
    margin-top: -20%;
    margin-left: 5%;
    width: 90%;
  }
  .progress-text {
    font-size: 20px;
    margin-top: -2.5%;
  }
  .text-box {
    height: 20%;
    width: 80%;
    font-size: 7.5px;
    margin-left: 10%;
  }
  .inventory-bag {
    grid-template-columns: repeat(20, 5%);
    width: 75vw;
    margin-top: 1%;
    margin-left: 12%;
  }
  .inventory-bag-settings {
    width: 100%;
  }
  .gameplayername {
    /* margin-top: -15%; */
    font-size: 20px;
  }
  .quest-buttons {
    font-size: 20px;
  }
  .city-button, .dialog-button, .inventory-button {
    border: 4px solid purple;
    font-size: 32px;
    height: 75%;
    margin-top: -7.5%;
    font-weight: 600;
  }
  .dialog-box {
    margin-top: -3%;
    border: 5px solid purple;
  }
  .dialog-box, .dialog-text, .dialog-options {
    font-size: 20px;
    height: 450px;
  }
  .dialog-picture {
    width: 7.5vw;
  }
  .dialog-buttons {
    font-size: 20px;
  }
  .dialog-buttons.inner {
    font-size: 24px;
  }
  .story-box {
    border: 5px solid purple;
    font-size: 24px;
    height: 300px;
  }
  .firewater {
    grid-column-start: 3;
    grid-row-start: 7;
    margin-top: 12.5%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  #game-block {
    transform: scale(1.25);
    margin-left: 15%;
    top: -15%;
  }
  #opponent-block {
    transform: scale(1.25);
    left: 35%;
    top: 35%;
  }
  #computer-animation {
    margin-left: 10%;
  }
  #player-animation {
    margin-left: 45%;
  }
  .joystick-outer {
    width: 150px;
    height: 150px;
    border: 4px solid gold;
    
  }
  .joystick-inner {
    width: 75px;
    height: 75px;
    border: 3px solid gold;
  }
  #console {
    transform: scale(1.25);
    margin-top: 7.5%;
    border-radius: 6px;
    font-size: 12px;
  }
  #textarea {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .action-reader {
    padding-top: 8%;
    font-size: 20px;
    margin-top: -40%;
    height: 20%;
  }
  #auto-engage {
    font-size: 20px;
    margin-top: -45%;
    height: 75%;
  }
  #attack-options {
    font-size: 20px;
    margin-top: -45%;
    height: 75%;
  }
  #action-buttons {
    margin-top: -6.5%;
  }
  .actionButtons{
    height: 15%;
  }
  #action-button, #initiate-button, #dodge-button {
    font-size: 16px;
  }
  .combat-settings {
    font-size: 18px;
  }
  .text-box {
    height: 20%;
    width: 80%;
    font-size: 7.5px;
    margin-left: 10%;
  }
  .dialog-buttons {
    font-size: 14px;
  }
  .inventory-bag {
    grid-template-columns: repeat(6, 9%);
    width: 75vw;
    margin-top: 1%;
    margin-left: 12%;
  }
  .inventory-bag-settings {
    width: 100%;
  }
  .gameplayername {
    font-size: 18px;
  }
  .quest-buttons {
    font-size: 14px;
  }
  .city-button {
    border: 3px solid purple;
    font-size: 22px;
    height: 75%;
    margin-top: -15%;
    font-weight: 600;
  }
  .dialog-button {
    border: 3px solid purple;
    font-size: 22px;
    height: 75%;
    margin-top: -15%;
    font-weight: 600;
  }
  .inventory-button {
    border: 3px solid purple;
    font-size: 22px;
    height: 75%;
    margin-top: -15%;
    font-weight: 600;
  }
  .dialog-box {
    margin-top: -3%;
    border: 5px solid purple;
  }
  .dialog-box, .dialog-text, .dialog-options {
    font-size: 20px;
    height: 450px;
  }
  .story-box {
    border: 3px solid purple;
    font-size: 18px;
  }
  #player-xp {
    height: 25%;
    margin-top: 6.5%;
  }
  .progressxp-text {
    margin-top: 4.5%;
    font-size: 16px;
  }
  .progress {
    height: 32.5%;
    margin-top: -4%;
  }
  .progress-text {
    font-size: 20px;
    margin-top: -2.5%;
  }
  .settings-button {
    margin-left: -1.75%;
    margin-top: -0.25%;
  }
  .settings-accordion {
    font-size: 18px;
  }
  .map-button {
    left: -1%;
    top: 1.35%;
  }
  .journal-button {
    left: -8%;
    top: 1.1%;
  }
}


@media screen and (max-width: 380px) {
  
  #game-container {
    transform: scale(1);
  
  }
  #game-block {
    transform: scale(1.05);
    margin-left: 0%;
  }
  #opponent-block {
    transform: scale(1.05);
    margin-left: 10%;
  }
  #console {
    transform: scale(.97);
    margin-left: 3%;
    font-size: 6px;
  }
  #action-buttons {
    transform: scale(.97);
    margin-left: -9.75%;
    margin-top: 10%;
    
  }
  #action-reader {
    transform: scale(.97);
    margin-left: -10%;
    margin-top: -25%;
    font-size: 6px;  
  }
  #attack-options {
    transform: scale(.97);
    margin-right: -2%;
    font-size: 6px;
  }
  #attack-options {
    font-size: 6px;
  }
  #auto-engage {
    transform: scale(.97);
    margin-top: -25%;
    margin-left: -11%;
    font-size: 6px;
  }
  #computer-animation {
    transform: scale(.9);
    margin-left: -15%;
  }
  #player-animation {
    transform: scale(.9);
    margin-left: -20%;
  }
  .actionButtons {
    font-size: 6px;
    padding: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 330px) {
  
  #game-container {
    transform: scale(1);
  
  }
  #game-block {
    transform: scale(.9);
    margin-left: -10%;
  }
  #opponent-block {
    transform: scale(.9);
    margin-left: 0%;
  }
  #console {
    transform: scale(.9);
    margin-left: 5%;
    font-size: 6px;
  }
  #action-buttons {
    transform: scale(.9);
    margin-left: -6.75%;
    margin-top: 10%;
    
  }
  #action-reader {
    transform: scale(.9);
    margin-left: -7%;
    margin-top: -30%;
    font-size: 6px;  
  }
  #attack-options {
    transform: scale(.9);
    margin-right: -5%;
    font-size: 6px;
  }
  #attack-options {
    font-size: 6px;
  }
  #auto-engage {
    transform: scale(.9);
    margin-top: -30%;
    margin-left: -8%;
    font-size: 6px;
  }
  #computer-animation {
    transform: scale(.9);
    margin-left: -30%;
  }
  #player-animation {
    transform: scale(.9);
    margin-left: -30%;
  }
}

@media screen and (max-width: 300px) {
  
  #game-container {
    transform: scale(1);
  
  }
  #game-block {
    transform: scale(.85);
    margin-left: -20%;
  }
  #opponent-block {
    transform: scale(.85);
    margin-left: -10%;
  }
  #console {
    transform: scale(.85);
    margin-left: 10%;
    font-size: 6px;
  }
  #action-buttons {
    transform: scale(.85);
    margin-left: -1.75%;
    margin-top: 10%;
    
  }
  #action-reader {
    transform: scale(.85);
    margin-left: -2%;
    margin-top: -30%;
    font-size: 6px;  
  }
  #attack-options {
    transform: scale(.85);
    margin-right: -15%;
    font-size: 6px;
  }
  #auto-engage {
    transform: scale(.85);
    margin-top: -30%;
    margin-left: 5%;
    font-size: 6px;
  }
  #computer-animation {
    transform: scale(.85);
    margin-left: -40%;
  }
  #player-animation {
    transform: scale(.85);
    margin-left: -40%;
  }
}

@media screen and (max-height: 800px) {
  #game-block {
    top: -10%;
  }
}

@media screen and (max-height: 750px) {
  #game-block {
    top: -20%;
  }
}

@media screen and (max-height: 700px) {
  #game-container {
    transform: scaleY(1);
  }
  #opponent-block {
    margin-top: -10%;
  }
  #game-block {
    top: -30%;
  }
  #computer-animation {
    transform: scaleY(1);
  }
  #player-animation {
    transform: scaleY(1);
  }
  #win-condition {
    transform: scale(.85);
    margin-top: -1%;
  }
  #console {
    margin-top: 20%;
    margin-left: 2%;
    font-size: 6px;
  }
  #action-buttons {
    margin-left: -10.25%;
    margin-top: 5%;
  }
  #action-reader {
    transform: scale(.95);
    margin-left: -11%;
    margin-top: -30%;
    font-size: 6px;  
  }
  #attack-options {
    margin-right: -2%;
    margin-top: -30%;
    font-size: 6px;
  }
  #auto-engage {
    margin-top: -30%;
    margin-left: -20%;
    font-size: 6px;
  }
  .dialog-box, .dialog-text, .dialog-options {
    height: 250px;
  }
  .dialog-box {
    margin-top: -1%;
    font-size: 10px;
  }
  .dialog-button, .inventory-button {
    font-size: 10px;
  }
  .actionButtons {
    top: -2.5%;
  }
}
@media screen and (max-height: 650px) {
  #game-container {
    transform: scaleY(1);
  }
  #opponent-block {
    margin-top: -20%;
  }
  #game-block {
    top: -70%;
  }
  #computer-animation {
    transform: scaleY(1);
  }
  #player-animation {
    transform: scaleY(1);
  }
  #win-condition {
    transform: scale(.7);
    margin-top: -1%;
  }
  #console {
    margin-top: 20%;
  }
}
@media screen and (max-height: 600px) {
  #game-container {
    transform: scaleY(1);
  }
  #opponent-block {
    transform: scale(.975);
    margin-top: -20%;
  }
  #game-block {
    transform: scale(.975);
    margin-top: -40%;
  }
  #win-condition {
    transform: scale(.6);
    margin-top: -1%;
  }
}
.game-stat h4,
.game-stat p{
      display: inline;
      margin: 0;
      color: rgb(171, 168, 2);
      font-size: 10.5px;
      line-height: 1.2em;
}
.game-stat h4{
      color: rgb(167, 172, 0);
      font-weight: 700;
}
.game-stat{
  text-indent: -1em;
  padding-left: 1.1em;
  line-height: 1.4em;
}
.game-stat.first{
  margin: 8px 0 0;
}
.game-stat.last{
  margin: 0 0 10px;
}
.game-attributes{
  text-align: center;
  color: rgb(171, 168, 2);
}
.game-attributes > div{
  display: inline-block;
  vertical-align: middle;
  width: 15.5%;
  min-width: 40px; 
  font-size: 8px;
  line-height: 1em;
}
.game-attributes h4{
  margin: 10px 0 2px;
  font-size: 10px;
  line-height: 1.2em;
  text-transform: uppercase;
  color: rgb(167, 172, 0);
  font-weight: 700;
}
.game-attributes p{
  margin: 0 0 10px;
  line-height: 1.2em;
}
.win-condition {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  grid-row-start: 5;
  color: rgb(255, 255, 0);
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 500;
  margin-top: 4%;
}
  