#game-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(9, 10%); 
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0px;
  }
  #game-block {
    margin-left: 7.5%;
    transform: scale(1.1);
    grid-row-start: 6;
    position: relative;
    /* margin-top: 10%; */
  }
  #opponent-block {
    grid-row-start: 1;
    grid-column-start: 2;
    margin-left: 25%;
    transform: scale(1.1);
    margin-top: -10%;
  }
  .status-effects {
    grid-row-start: 6;
    grid-column-start: 1;
    background: black;
    border: 2px solid gold;
    box-shadow: 0 0 1em gold; 
    width: 25%;
    height: 35%;
  }
#textarea {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10; 
    margin-left: -12.5%;
    /* position: relative; */
    /* float: right; */
    /* width: 90vw; */
    height: 100vh;
    display: inline-block;
    
}

.dialog-box {
  position: absolute; /* add this */
  top: 45%; /* position the dialog box in the center vertically */
  left: 50%; /* position the dialog box in the center horizontally */
  transform: translate(-50%, -50%); /* adjust the position of the dialog box to account for its own width and height */
  /* margin-top: 7.5%; */
  height: 200px;
  width: 100%;
  border: 2px solid purple;
  border-radius: 6px;
  background-color: black;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}
.dialog-text {
  height: 200px;
  width: 75%;
  margin-top: 1%;
  color: #fdf6d8;
  overflow-y: scroll;
  text-align: center;
}
.dialog-options {
  /* position: absolute;
  grid-column-start: 4; */
  /* grid-row-start: 4; */
  text-align: center;
  height: 200px;
  width: 25%;
  border-left: 2px solid purple;
  overflow-y: scroll;
}

@media screen and (max-height: 820px) {
  /* .dialog-box, .dialog-text, .dialog-options {
    height: 150px;
  }
  .dialog-box {
    margin-top: 5%;
  } */
  /* #opponent-block {
    transform: scaleY(.99);
  }
  #game-block {
    transform: scaleY(.99);
  } */
}
@media screen and (max-height: 775px) {
  .dialog-box {
    margin-top: -1%;
  }
  #game-block {
    /* transform: scaleY(.99); */
    top: 7%;
  }
}

.inventory-bag {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(12, 16%);
  justify-content: space-evenly;
  /* display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;  */
  z-index: 99;
  margin-left: -3%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  color: #fdf6d8;
  background-color: black;
  border: 3px solid purple;
  width: 106%;
  height: 57vh;
  overflow-y: scroll;
  border-radius: 6px;

}
.inventory-button {
  grid-column-start: 4;
  grid-row-start: 7;
  color: #fdf6d8;
  background: black;
  border: 2px solid #fdf6d8;
  width: 100%;
  height: 50%;
}
.inventory-button:focus {
  /* background-color: purple; */
  color: purple;
  border: 2px solid purple;
}
.inventory-icon {
  width: 64px;
  height: 64px;
  border: 2px solid purple;
  background-color: black;
  color: #fdf6d8;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  }
.text-box {
    font-family: monospace;
    border: 2px solid purple;
    background-color: black;
    color: #fdf6d8;
    /* grid-column-start: 4;
    grid-column-end: 5; */
    /* height: 100%;  */
    font-size: 10px;
    text-align: center;
  }
.game-block {
    grid-column-start: 1;
    grid-row-start: 6;
    display: inline-block;
    position: relative;
    text-align: left;
    min-width: 150px;
    height: 65%;
    bottom: -25%;
    left: 0%;
}
.actionButtons {
    display: block;
    position: absolute;
    display: inline-block;
    margin-top: 16.5%;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 112.5%;
    margin-left: -12.5%;
    grid-row-start: 7;
    padding: 1%;
    border: 2px solid purple;
    background: black;
}
#action-button {
    font-size: 8px;
    color: rgb(226, 130, 255);
    background-color: black;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
  }
  #dodge-button {
    font-size: 8px;
    color: rgb(226, 130, 255);
    background-color: black;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
  }
  #dodge-button:disabled {
    display: none;
  }
  #initiate-button {
    font-size: 8px;
    background-color: black;
    color:blueviolet;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
    /* font-weight: 650; */
  }
  #initiate-button:disabled {
    display: none;
  }
  .action-reader {
    display: block;
    position: absolute;
    display: inline-block;
    text-align: center;
    border: 2px solid purple;
    padding: 8px;
    background: black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    font-size: 7px;
    color: #fdf6d8;
    height: 10%;
    margin-top: -5%;
    margin-left: -12.5%;
    width: 112.5%;
  }
  #auto-engage {
    grid-column-start: 3;
    grid-row-start: 7;
    border: 2px solid purple;
    background: black;
    font-size: 10px;
    height: 40%;
    width: 100%;
    margin-top: -5%;
    margin-left: -25%;
    color: #fdf6d8;
  }
#player-health {
    background-color: red;
    /* border: 1.5px solid red; */
    /* font-size: 12px; */
}
#player-xp {
  background-color: transparent;
  border: 2px solid black;
  color: purple;
  font-size: 8px;
  margin-top: -6.5%;
  height: 15%;
}
#story {
  max-width: 34%;
}
.progress {
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    color: #fdf6d8;
    font-weight: 900;
    background: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
    /* border: 2px solid purple; */
  }
.progress-text {
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  margin-top: -4%;
  
}
.progressxp {
  position: absolute;
  /* overflow: hidden; */
  width: 100%;
  font-size: 12px;
  color: #fdf6d8;
  font-weight: 600;
  background: transparent;
  /* border: 2px solid purple; */
  
}
.progressxp-text {
  text-align: center;
  /* margin-left: 25%; */
  margin-top: -9%;
  /* border: 2px solid purple; */
  -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
}
/* .gameplayername {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  font-size: 14px;
  font-weight: 600;
} */
#damage-options {
  background-color: rgb(0, 0, 0);
  /* color: purple */
  font-size: 10px;
  text-align: center;
  justify-content: center;
  color: purple;
  font-weight: 600;
  border: 2px solid purple;
  border-radius: 6px;
  height: 50%;
  width: 110%;
  margin-left: -25%;
  grid-column-start: 3;
  grid-row-start: 6;
}
#attack-options {
    background-color: rgb(0, 0, 0);
    /* color: purple */
    font-size: 10px;
    text-align: center;
    justify-content: center;
    color: purple;
    font-weight: 600;
    border: 2px solid purple;
    height: 50%;
    margin-left: -12.5%;
    grid-column-start: 4;
    grid-row-start: 6;
}
#prayer-options {
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    justify-content: center;
    color: purple;
    font-weight: 600;
    border: 2px solid purple;
    border-radius: 6px;
    height: 50%;
    width: 110%;
    margin-left: 60%;
    /* margin-top: 35%; */
    grid-column-start: 1;
    grid-row-start: 6;
}

.combat-settings {
  background-color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: center;
  justify-content: center;
  color: purple;
  font-weight: 600;
  border: 2px solid purple;
  border-radius: 6px;
  height: 50%;
  padding: 2.5%;
  margin-right: 2.5%;
}

#computer-animation {
  margin-left: -10%;
}
#player-animation {
  margin-left: -15%;
}

@media screen and (max-width: 675px) {
    .game-block {
        /* width: 40%; */
        height: 100%;
        /* min-height: 40%; */
        /* max-height: 45%; */
    }
    .game-stat h4,
    .game-stat p {
         font-size: 10px;
    } 
    .text-box {
        height: 20%;
        width: 100%;
        font-size: 7.5px;
    }
  }
  @media screen and (max-width: 380px) {
    
    #game-container {
      transform: scale(1);
    
    }
    #game-block {
      transform: scale(.97);
      margin-left: 0%;
    }
    #opponent-block {
      transform: scale(.97);
      margin-left: 10%;
    }
    #console {
      transform: scale(.97);
      margin-left: 3%;
      font-size: 6px;
    }
    #action-buttons {
      transform: scale(.97);
      margin-left: -9.75%;
      margin-top: 10%;
      
    }
    #action-reader {
      transform: scale(.97);
      margin-left: -10%;
      margin-top: -25%;
      font-size: 6px;  
    }
    #attack-options {
      transform: scale(.97);
      margin-right: -2%;
      font-size: 6px;
    }
    #attack-options {
      font-size: 6px;
    }
    #auto-engage {
      transform: scale(.97);
      margin-top: -25%;
      margin-left: -11%;
      font-size: 6px;
    }
    #computer-animation {
      transform: scale(.9);
      margin-left: -15%;
    }
    #player-animation {
      transform: scale(.9);
      margin-left: -20%;
    }
  }
  @media screen and (max-width: 330px) {
    
    #game-container {
      transform: scale(1);
    
    }
    #game-block {
      transform: scale(.9);
      margin-left: -10%;
    }
    #opponent-block {
      transform: scale(.9);
      margin-left: 0%;
    }
    #console {
      transform: scale(.9);
      margin-left: 5%;
      font-size: 6px;
    }
    #action-buttons {
      transform: scale(.9);
      margin-left: -6.75%;
      margin-top: 10%;
      
    }
    #action-reader {
      transform: scale(.9);
      margin-left: -7%;
      margin-top: -30%;
      font-size: 6px;  
    }
    #attack-options {
      transform: scale(.9);
      margin-right: -5%;
      font-size: 6px;
    }
    #attack-options {
      font-size: 6px;
    }
    #auto-engage {
      transform: scale(.9);
      margin-top: -30%;
      margin-left: -8%;
      font-size: 6px;
    }
    #computer-animation {
      transform: scale(.9);
      margin-left: -30%;
    }
    #player-animation {
      transform: scale(.9);
      margin-left: -30%;
    }
  }

  @media screen and (max-width: 300px) {
    
    #game-container {
      transform: scale(1);
    
    }
    #game-block {
      transform: scale(.85);
      margin-left: -20%;
    }
    #opponent-block {
      transform: scale(.85);
      margin-left: -10%;
    }
    #console {
      transform: scale(.85);
      margin-left: 10%;
      font-size: 6px;
    }
    #action-buttons {
      transform: scale(.85);
      margin-left: -1.75%;
      margin-top: 10%;
      
    }
    #action-reader {
      transform: scale(.85);
      margin-left: -2%;
      margin-top: -30%;
      font-size: 6px;  
    }
    #attack-options {
      transform: scale(.85);
      margin-right: -15%;
      font-size: 6px;
    }
    #auto-engage {
      transform: scale(.85);
      margin-top: -30%;
      margin-left: 5%;
      font-size: 6px;
    }
    #computer-animation {
      transform: scale(.85);
      margin-left: -40%;
    }
    #player-animation {
      transform: scale(.85);
      margin-left: -40%;
    }
  }


  @media screen and (max-height: 700px) {
    #game-container {
      transform: scaleY(.97);
      /* max-height: 90vh; */
    }
    #opponent-block {
      transform: scaleY(.97);
      margin-top: -30%;
    }
    #game-block {
      transform: scaleY(.97);
      margin-top: -10%;
    }
    #computer-animation {
      transform: scaleY(1);
      /* margin-left: -40%; */
    }
    #player-animation {
      transform: scaleY(1);
      /* margin-left: -40%; */
    }
    #win-condition {
      transform: scale(.85);
      margin-top: -1%;
    }
    #console {
      transform: scale(.95);
      margin-top: -10%;
      margin-left: 2%;
      font-size: 6px;
    }
    #action-buttons {
      transform: scale(.95);
      margin-left: -10.25%;
      margin-top: 5%;
      
    }
    #action-reader {
      transform: scale(.95);
      margin-left: -11%;
      margin-top: -30%;
      font-size: 6px;  
    }
    #attack-options {
      transform: scale(.95);
      margin-right: -2%;
      font-size: 6px;
    }
    #auto-engage {
      transform: scale(.95);
      margin-top: -30%;
      margin-left: -12%;
      font-size: 6px;
    }
    .dialog-box, .dialog-text, .dialog-options {
      height: 100px;
    }
    .dialog-box {
      margin-top: -5%;
      font-size: 10px;
    }
  }
  @media screen and (max-height: 650px) {
    #game-container {
      transform: scaleY(.95);
      /* max-height: 90vh; */
    }
    #opponent-block {
      transform: scaleY(.95);
      margin-top: -30%;
    }
    #game-block {
      transform: scaleY(.95);
      margin-top: -10%;
    }
    #computer-animation {
      transform: scaleY(1);
      /* margin-left: -40%; */
    }
    #player-animation {
      transform: scaleY(1);
      /* margin-left: -40%; */
    }
    #win-condition {
      transform: scale(.7);
      margin-top: -1%;
    }
    #console {
      margin-top: -5%;
    }
  }
  @media screen and (max-height: 600px) {
    #game-container {
      transform: scaleY(.9);
    }
    #opponent-block {
      transform: scaleY(.92);
      margin-top: -50%;
    }
    #game-block {
      transform: scaleY(.92);
      margin-top: -40%;
    }
    #win-condition {
      transform: scale(.6);
      margin-top: -1%;
    }
  }
  .game-stat h4,
  .game-stat p{
        display: inline;
        margin: 0;
        /* color: #922610; */
        color: rgb(171, 168, 2);
        font-size: 10.5px;
        line-height: 1.2em;
  }
  .game-stat h4{
        /* color: #7A200D; */
        color: rgb(167, 172, 0);
        font-weight: 700;
  }
  .game-stat{
        text-indent: -1em;
        padding-left: 1.1em;
        line-height: 1.4em;
  }
  .game-stat.first{
      margin: 8px 0 0
  }
  .game-stat.last{
        margin: 0 0 10px;
  }
  .game-attributes{
        text-align: center;
        /* color: #922610; */
        color: rgb(171, 168, 2);
  }
  .game-attributes > div{
        display: inline-block;
        vertical-align: middle;
        width: 15.5%;
        min-width: 40px; 
        font-size: 8px;
        line-height: 1em;
  }
  .game-attributes h4{
        margin: 10px 0 2px;
        font-size: 10px;
        line-height: 1.2em;
        text-transform: uppercase;
        /* color: #7A200D; */
        color: rgb(167, 172, 0);
        font-weight: 700;
  }
  .game-attributes p{
        margin: 0 0 10px;
        line-height: 1.2em;
  }
  .win-condition {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    grid-row-start: 5;
    color: rgb(255, 255, 0);
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 500;
    /* margin-left: -25%; */
    margin-top: 4%;
    /* border: 1px solid white; */
  }
  