#game-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
     /* 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw; */
    grid-template-rows: repeat(9, 10%); 
    /* 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh; */
    position: fixed;
    height: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
    /* max-width: 100vw; */
    width: 100%;
    margin: 0px;
    /* overflow: auto; */
    /* grid-template-columns: repeat(, 1fr);
    gap: 10px;
    */
    /* grid-auto-rows: repeat(8, 1fr);  */
    /* border: 1px solid purple; */
  }
#textarea {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 10; 
    margin-left: -12.5%;
    /* position: relative; */
    /* float: right; */
    /* width: 90vw; */
    height: 100vh;
    display: inline-block;
    
}
.text-box {
    font-family: monospace;
    border: 1px solid purple;
    background-color: black;
    color: #fdf6d8;
    /* grid-column-start: 4;
    grid-column-end: 5; */
    /* height: 100%;  */
    font-size: 10px;
    text-align: center;
  }
.game-block {
    grid-column-start: 1;
    grid-row-start: 6;
    display: inline-block;
    position: relative;
    text-align: left;
    min-width: 150px;
    height: 65%;
    bottom: -25%;
    left: 0%;
}
.actionButtons {
    display: block;
    position: absolute;
    display: inline-block;
    margin-top: 16.5%;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 112.5%;
    margin-left: -12.5%;
    grid-row-start: 7;
    padding: 1%;
    border: 1px solid purple;
    background: black;
}
#action-button {
    font-size: 8px;
    color: rgb(226, 130, 255);
    background-color: black;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
  }
  #dodge-button {
    font-size: 8px;
    color: rgb(226, 130, 255);
    background-color: black;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
  }
  #initiate-button {
    font-size: 8px;
    background-color: black;
    color:blueviolet;
    padding: 1.5px;
    display: inline-block;
    margin-bottom: 4px;
    /* font-weight: 650; */
  }
  .action-reader {
    display: block;
    position: absolute;
    display: inline-block;
    text-align: center;
    border: 1px solid purple;
    padding: 8px;
    background: black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    font-size: 7px;
    color: #fdf6d8;
    height: 10%;
    margin-left: -12.5%;
    width: 112.5%;
  }
  #auto-engage {
    grid-column-start: 3;
    grid-row-start: 7;
    border: 1px solid purple;
    background: black;
    font-size: 10px;
    height: 40%;
    width: 100%;
    margin-left: -25%;
    color: #fdf6d8;
  }
#player-health {
    background-color: red;
    font-size: 10px;
}
.progress {
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-size: 10px;
    color: white;
    font-weight: 700;
    background: transparent;
}
.progress-text {
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}
#attack-options {
    background-color: rgb(0, 0, 0);
    /* color: purple */
    font-size: 10px;
    text-align: center;
    justify-content: center;
    color: purple;
    font-weight: 600;
    border: 1px solid purple;
    height: 50%;
    margin-left: -12.5%;
    grid-column-start: 4;
    grid-row-start: 6;
}

@media screen and (max-width: 675px) {
    .game-block {
        /* width: 40%; */
        height: 100%;
        /* min-height: 40%; */
        /* max-height: 45%; */
    }
    .game-stat h4,
    .game-stat p {
         font-size: 10px;
    } 
    .text-box {
        height: 20%;
        width: 100%;
        font-size: 7.5px;
    }
  }
  .game-stat h4,
  .game-stat p{
        display: inline;
        margin: 0;
        /* color: #922610; */
        color: rgb(171, 168, 2);
        font-size: 10.5px;
        line-height: 1.2em;
  }
  .game-stat h4{
        /* color: #7A200D; */
        color: rgb(167, 172, 0);
        font-weight: 700;
  }
  .game-stat{
        text-indent: -1em;
        padding-left: 1.1em;
        line-height: 1.4em;
  }
  .game-stat.first{
      margin: 8px 0 0
  }
  .game-stat.last{
        margin: 0 0 10px;
  }
  .game-attributes{
        text-align: center;
        /* color: #922610; */
        color: rgb(171, 168, 2);
  }
  .game-attributes > div{
        display: inline-block;
        vertical-align: middle;
        width: 15.5%;
        min-width: 40px; 
        font-size: 8px;
        line-height: 1em;
  }
  .game-attributes h4{
        margin: 10px 0 2px;
        font-size: 10px;
        line-height: 1.2em;
        text-transform: uppercase;
        /* color: #7A200D; */
        color: rgb(167, 172, 0);
        font-weight: 700;
  }
  .game-attributes p{
        margin: 0 0 10px;
        line-height: 1.2em;
  }
  .win-condition {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    grid-row-start: 5;
    color: rgb(255, 255, 0);
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 500;
    /* margin-left: -25%; */
    margin-top: 4%;
    /* border: 1px solid white; */
  }
  