#user-pic {
    border-radius: 5px;
    max-width: 30vw;
    max-height: 30vh;
}
#profile-pic {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}