#user-pic {
    border-radius: 50%;
    max-width: 30vw;
    max-height: 30vh;
}
#profile-pic {
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid purple;
}
.profile-name {
    display: flex;
    justify-content: center;
    font-size: 25px;
}