#nav-pic {
    max-width: 6.5vw;
    max-height: 6.5vh;
}
#popover-image {
    float: right;
    margin-top: -5px;
}
@media screen and (max-width: 675px) {
    .origin-popover {
        font-size: 10px;
    }
    #popover-body {
        max-height: 80vh;
    }
}