#request-banner {
    border-radius: 10px;
    width: 25%;
    height: 100px;
    background-image: linear-gradient(to right top, #500000, #7a0e0d, #a62210, #d2380e, #ff5100);
}

#banner-request-accept {
    /* float: left; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#banner-request-decline {
    /* float: right; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#request-pic {
    position: absolute;
    display: block;
    margin: 0;
    left: 40%;
  /* margin-le4t: auto;
  margin-right: auto; */
    max-width: 85%;
    max-height: 85%;
    border-radius: 50%;
}

