#request-banner {
    border-radius: 10px;
    width: 25%;
    height: 100px;
}

#banner-request-accept {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#banner-request-decline {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#request-pic {
    position: absolute;
    display: block;
    margin: 0;
    left: 40%;
    width: 80px; 
    height: 80px;
    border-radius: 50%;
}

