.modal-content {
    background: #f9e8fd;
    background: linear-gradient(to right top, #000630, #130125, #18001b, #170012, #110008, #140108, #170108, #190207, #240409, #2d0509, #370306, #410000);
    text-align: center;
    font-variant: small-caps;
    color: purple;
    border: 1.5px solid orangered;
    box-shadow: 0 0 1.5em #b00000; 
    
}

#ascean-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid purple;
    border-radius: 50%;
}
#new-ascean {
    width: 85%;
}

.form-block {
    text-align: left; 
    margin: 20px; 
    display: flex; 
    vertical-align: top; 
    width: 17%; min-width:280px; 
    background: #FDF1DC; 
    padding: 5px 10px 20px; 
    box-shadow: 0 0 1.5em #867453;
}
.form-block.wide {
    width: 65%; min-width: 560px; text-align: center;
}
.form-block.wide .section-left,
.form-block.wide .section-right { display: inline-block; vertical-align: top; width: 48%; text-align: left; }
.form-block.wide .section-left { margin-right: 1.5%; }
.form-block.wide .section-right { margin-left: 1.5%; }
@media screen and (max-width: 675px){
	.form-block.wide{
		min-width: 280px;
	}
	.form-block.wide .section-left,
	.form-block.wide .section-right{
        display: block;
        width: 100%;
	}
	.form-block.wide .section-left{
	    margin: 0;
	}
	.form-block.wide .section-right{
		margin: 0;
	}
}
.orange-border{
    display: block;
    /* background: #E69A28; */
    background: purple;
    border: 1px solid purple;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;
}

.orange-border.bottom{
    margin: 15px -10px -20px;
}
.tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #5a0043;
    fill: #5a0043;
    stroke: #5a0043;
}
.character-heading h1{
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #5a0043;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
}
.character-heading h2{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 10px;
}
.property-line h4{
    color: #9803b3;
    font-weight: 700;
}
.property-line{
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;
}
.property-line.first{
    margin: 8px 0 0
}
.property-line.last{
    margin: 0 0 10px;
}
.abilities{
    text-align: center;
    color: #5a0043;
}
.abilities > div{
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px; 
    font-size: 12px;
    line-height: 1em;
}
.abilities h4{
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #9803b3;
}
.abilities p{
    margin: 0 0 10px;
    line-height: 1.2em;
}
.property-block h4,
.property-block p{
    font-size: 13.5px;
    line-height: 1.2em;
    display: inline;
    margin: 0;
}
.property-block h4{
    font-style: italic;
    font-weight: 700;
}
.property-block{
    padding: 10px 2px 0;
}
.actions h3{
    border-bottom: 1px solid #9803b3;
    color: #9803b3;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
}
.actions{
    margin: 0 0 20px;
}
.actions:last-child{
    margin: 0;
}
@media print{
	.orange-border{
		display: none;
	}
	.form-block,
	.form-block.wide, 
	.form-block.wide .section-left,
	.form-block.wide .section-right,
	.property-line,
	.property-block{
		width: 100%;
		display: block;
	}
	.form-block.wide .section-left{
	    margin: 0;
	}
	.form-block.wide .section-right{
	    margin: 0;
	}
	.form-block{
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.form-block.wide{
		page-break-after: always;
	}
}