#placeholder {
    margin-top: 0vh;
}
#loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 50%;
    padding: 300px 0;
}
#loading-spinner-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 100px 0;
}

.equip-loading {
    display: block;
    margin-left: 20%;
    margin-right: auto;
    width: 80%;
}

@media screen and (max-width: 675px) {
    #message-loading {
        height: 50%;
        width: 50%;
    }
}

#loading-spinner-chat {
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0;
}