/* .monster-image {
    max-width: 25%;
    max-height: 25%;
}
/* .tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    left: 25vw;
    border: none;
    color: #922610;
    fill: #922610;
    stroke: #922610;
} */

.signup-labels {
    color: #922610;
} 
