@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #000630, #130125, #18001b, #170012, #110008, #140108, #170108, #190207, #240409, #2d0509, #370306, #410000);
  overflow: scroll;
  /* justify-content: center; */
  font-family: 'Cinzel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #fdf6d8; */
}
.signup-button {
  width: 75%;
}

#community-pic{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid purple;
  margin-right: 1.5vw;
}

.stat-block { 
  text-align: left; 
  margin: 20px; 
  display: inline-block; 
  vertical-align: top; 
  width: 17%; 
  min-width:280px; 
  background: #fdf6d8; 
  padding: 5px 10px 20px; 
  box-shadow: 0 0 1.5em #726f57; 
}
.stat-block.wide { width: 65%; min-width: 560px; text-align: center; }
.stat-block.wide .section-left,
.stat-block.wide .section-right { display: inline-block; vertical-align: top; width: 48%; text-align: left; }
.stat-block.wide .section-left { margin-right: 1.5%; }
.stat-block.wide .section-right { margin-left: 1.5%; }

@media screen and (max-width: 675px){
	.stat-block.wide {
		min-width: 280px;
	}
	.stat-block.wide .section-left,
	.stat-block.wide .section-right{
        
        display: block;
        width: 100%;
	}
	.stat-block.wide .section-left{
    
	    margin: 0;
	}
	.stat-block.wide .section-right{
		margin: 0;
	}
}
.welcome-text {
  font-size: 15vw;
  text-align: center;
  font-variant: small-caps;
  font-weight: 500;
  background-image: linear-gradient(to right top, #fdfd00, #ffdd00, #ffa600, #ff8800, #ff5c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  opacity: 0;

  animation: fade 1.5s ease-in 0.5s forwards;

}
.welcome-explanation {
  font-size: 4vw;
  text-align: center;
  font-variant: small-caps;
  background-image: linear-gradient(to right top, #fdfd00, #ffdd00, #ffa600, #ff8800, #ff5c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  opacity: 0;

  animation: fade 1.5s ease-in 2s forwards;
}
.auth {
  /* pointer-events: none; */
  opacity: 0;
  animation: fade 1.5s ease-in 3.5s forwards;
}
/* .ascean {
  animation: fade 1s ease-in 2.5s forwards;
}
.game {
  animation: fade 1.5s ease-in 3.5s forwards;
}
.aenservaesai {
  animation: fade 1s ease-in 5s forwards;
} */
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


#community-column {
  width: 25%;
}
.orange-border{
    display: block;
    background: #791200;
    border: 1px solid #000;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;
}

.orange-border.bottom{
    margin: 15px -10px -20px;
}
.tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #5a0043;
    fill: #5a0043;
    stroke: #5a0043;
}
.creature-heading h1{
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    /* color: #922610; */
    color: #5a0043;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
}
.creature-heading h2{
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 10px;
}
.property-line h4,
.property-line p{
    display: inline;
    margin: 0;
    /* color: #922610; */
    color: #5a0043;
    font-size: 13.5px;
    line-height: 1.2em;
}
.property-line h4{
    /* color: #7A200D; */
    color: #5a0043;
    font-weight: 700;
}
.property-line{
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;
}
.property-line.first{
    margin: 8px 0 0
}
.property-line.last{
    margin: 0 0 10px;
}
.abilities{
    text-align: center;
    /* color: #922610; */
    color: #5a0043;
}
.abilities > div{
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px; 
    font-size: 12px;
    line-height: 1em;
}
.abilities h4{
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    /* color: #7A200D; */
    color: #5a0043;
}
.abilities p{
    margin: 0 0 10px;
    line-height: 1.2em;
}
.property-block h4,
.property-block p{
    font-size: 13.5px;
    line-height: 1.2em;
    display: inline;
    margin: 0;
}
.property-block h4{
    font-style: italic;
    font-weight: 700;
}
.property-block{
    padding: 10px 2px 0;
}
.actions h3{
    border-bottom: 1px solid #5a0043;
    /* color: #7A200D; */
    color: #5a0043;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
}
.actions{
    margin: 0 0 20px;
}
.actions:last-child{
    margin: 0;
}

@media print{
	.orange-border{
		display: none;
	}
	.stat-block,
	.stat-block.wide, 
	.stat-block.wide .section-left,
	.stat-block.wide .section-right,
	.property-line,
	.property-block{
		width: 100%;
		display: block;
	}
	.stat-block.wide .section-left{
	    margin: 0;
	}
	.stat-block.wide .section-right{
	    margin: 0;
	}
	.stat-block{
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.stat-block.wide{
		page-break-after: always;
	}
}

.edit-eqp-button {
  text-align: center;
}
.edit-eqp-button:hover {
  transform: scale(1.05);
}
.eqp-popover:hover {
  transform: scale(1.5);
}
.svg-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.svg-wrapper > svg {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
.feeling-icon {
  transform: scale(2.5);
}
.feeling-icon:hover {
  transform: scale(3.5);
}
.friend-popover:hover {
  transform: scale(1.1);
}

.Game-Lobby-Chat {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fdf6d8;
}
/* .message-content {
  color: #fdf6d8;
}
.message-meta {
  color: #fdf6d8;
} */
.Chat-Window p {
  margin: 0;
}
.Chat-Window .Chat-Header {
  /* height: 45px; */
  border-radius: 6px;
  /* background: #770089; */
  color: #770089;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #770089;
  position: relative;
  cursor: pointer;
}

.Chat-Body {
  width: 100%;
  height: calc(450px - (45px + 70px));
  background: black;
  border: 2px solid purple;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#Chat-Body {
  width: 100%;
  height: calc(500px - (45px + 70px));
  background: black;
  border: 2px solid purple;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#Chat-Body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
#Chat-Body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px; */
  max-width: 200px;
  background-color: #430067;
  border-radius: 5px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 16px;
  /* padding-right: 5px;
  padding-left: 5px; */
  overflow-wrap: break-word;
  word-break: break-word;
}
#Chat-Body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#Chat-Body .message-container::-webkit-scrollbar {
  display: none;
}
#Chat-Body .message .message-meta {
  display: flex;
  font-size: 10px;
}
.Chat-Window .Chat-Body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.Chat-Window .Chat-Body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px; */
  max-width: 200px;
  background-color: #6b00a4;
  border-radius: 5px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  /* padding-right: 5px;
  padding-left: 5px; */
  overflow-wrap: break-word;
  word-break: break-word;
}
.Chat-Window .Chat-Body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Chat-Window .Chat-Body .message-container::-webkit-scrollbar {
  display: none;
}
#you {
  justify-content: flex-end;
}
#you .message-content {
  justify-content: flex-end;
}
#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
#other {
  justify-content: flex-start;
}
#Chat-Body #other .message-content {
  justify-content: flex-start;
  background-color: #9e9901;
  color: black;
}
#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.Chat-Window .Chat-Body .message .message-meta {
  display: flex;
  font-size: 10px;
}
.Chat-Window .chat-footer button {
  border: 0;
  /* display: grid; */
  place-items: center;
  cursor: pointer;
  /* font-weight: 700; */
  /* font-size: 18px; */
  
}
.side-drawer {
  color: #fdf6d8;
}

#dropdown-basic-button-toggle:after {
  display: none;
}
.dropdown-toggle::after {
  display: none !important;
}
.nav-tabs .nav-link {
  background-color: transparent !important;
}