@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, body { 
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #000630, #130125, #18001b, #170012, #110008, #140108, #170108, #190207, #240409, #2d0509, #370306, #410000);
  overflow: scroll;
  font-family: 'Cinzel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.tree-container {
  position: relative;
  z-index: 9999;
  color: #fdf6d8;
}
.minus-button {
  color: red;
  font-weight: 900;
}
.plus-button {
  color: green;
  font-weight: 900;
}
.signup-button {
  width: 75%;
}
#popover, #popover-header, #popover-body {
  font-family: 'Cinzel';
  /* background: #fafafa;
  color: purple; */
  background-color: rgb(0, 0, 0);
  border: 1.5px solid purple;
  color: #fdf6d8;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.55), 3px 3px 6px 0 rgba(0, 0, 0, 0.55);
  font-weight: 900;
  z-index: 1000;
}
#ascean-home-pic {
  display: block;
  margin-left: auto;
  margin-top: -16%;
  width: 25%;
  border: 2px solid purple;
  border-radius: 50%;
}

.ascean-description {
  word-wrap: break-word;
  max-width: 35ch;
}

#community-pic{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid purple;
  margin-right: 1.5vw;
}
.first-combat-button {
  position: absolute;
  grid-row-start: 1;
  grid-column-start: 4;
}
.first-combat {
  margin-left: -45%;
  margin-right: auto; 
  font-size: 1.1em;
  width: 150%;
  color: gold;
  box-shadow: 0 0 2.5em #c3af18;
  border-radius: 2em;
  border: 1.5px solid gold;
}

.stat-block { 
  text-align: left; 
  margin: 20px; 
  display: inline-block; 
  vertical-align: top; 
  width: 17%; 
  min-width:280px; 
  border-radius: 1em;
  padding: 5px 10px 20px; 
  box-shadow: 0 0 1em blueviolet; 
}
.stat-block.wide { width: 65%; min-width: 560px; text-align: center; }
.stat-block.wide .section-left,
.stat-block.wide .section-right { display: inline-block; vertical-align: top; width: 48%; text-align: left; }
.stat-block.wide .section-left { margin-right: 1.5%; }
.stat-block.wide .section-right { margin-left: 1.5%; }

@media screen and (max-width: 800px){
	.stat-block.wide {
		min-width: 280px;
	}
	.stat-block.wide .section-left,
	.stat-block.wide .section-right{
        display: block;
        width: 100%;
	}
	.stat-block.wide .section-left{
    
	    margin: 0;
	}
	.stat-block.wide .section-right{
		margin: 0;
	}
}
.welcome-text {
  font-size: 15vw;
  text-align: center;
  font-variant: small-caps;
  font-weight: 500;
  background-image: linear-gradient(to right top, #fdfd00, #ffdd00, #ffa600, #ff8800, #ff5c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  opacity: 0;

  animation: fade 1s ease-in 0.25s forwards;

}
.welcome-explanation {
  font-size: 4vw;
  text-align: center;
  font-variant: small-caps;
  background-image: linear-gradient(to right top, #fdfd00, #ffdd00, #ffa600, #ff8800, #ff5c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  opacity: 0;

  animation: fade 1.25s ease-in 0.75s forwards;
}
.auth {
  opacity: 0;
  animation: fade 1.25s ease-in 2s forwards;
}
/* .ascean {
  animation: fade 1s ease-in 2.5s forwards;
}
.game {
  animation: fade 1.5s ease-in 3.5s forwards;
}
.aenservaesai {
  animation: fade 1s ease-in 5s forwards;
} */
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


#community-column {
  width: 25%;
}
.orange-border.bottom{
    /* margin: 15px 0px -20px; */
    width: 95%;
    border-radius: 25%;
}
.tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #5a0043;
    fill: #5a0043;
    stroke: #5a0043;
}
.creature-heading h1{
    font-family: 'Cinzel', 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: gold;
    font-size: 23px;
    line-height: 1.2em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
}
.creature-heading h2{
    font-weight: normal;
    color: #fdf6d8;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 10px;
}
.property-line h4,
.property-line p{
    display: inline;
    margin: 0;
    color: #fdf6d8;
    font-size: 13.5px;
    line-height: 1.2em;
}
.property-line h4{
    color: #5a0043;
    font-weight: 700;
}
.property-line{
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;
}
.property-line.first{
    margin: 8px 0 0
}
.property-line.last{
    margin: 0 0 10px;
}
.abilities{
    text-align: center;
    /* color: #922610; */
    color: #5a0043;
}
.abilities > div{
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px; 
    font-size: 12px;
    line-height: 1em;
}
.abilities h4{
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    /* color: #7A200D; */
    color: #fdf6d8;
}
.abilities p{
    margin: 0 0 10px;
    line-height: 1.2em;
}
.property-block h4,
.property-block p{
    font-size: 13.5px;
    line-height: 1.2em;
    display: inline;
    margin: 0;
}
.property-block h4{
    font-style: italic;
    font-weight: 700;
}
.property-block{
    padding: 10px 2px 0;
}
.actions h3{
    border-bottom: 1px solid #5a0043;
    /* color: #7A200D; */
    color: #5a0043;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
    text-indent: 5px;
}
.actions{
    margin: 0 0 20px;
}
.actions:last-child{
    margin: 0;
}

@media print{
	.orange-border{
		display: none;
	}
	.stat-block,
	.stat-block.wide, 
	.stat-block.wide .section-left,
	.stat-block.wide .section-right,
	.property-line,
	.property-block{
		width: 100%;
		display: block;
	}
	.stat-block.wide .section-left{
	    margin: 0;
	}
	.stat-block.wide .section-right{
	    margin: 0;
	}
	.stat-block{
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	.stat-block.wide{
		page-break-after: always;
	}
}

.edit-eqp-button {
  text-align: center;
}
.edit-eqp-button:hover {
  transform: scale(1.05);
}
.eqp-popover:hover {
  transform: scale(1.5);
}
.svg-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.svg-wrapper > svg {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
.feeling-icon {
  transform: scale(2.5);
}
/* .feeling-icon:hover {
  transform: scale(3);
} */
.friend-popover:hover {
  transform: scale(1.1);
}
#disable-feeling:active {
  pointer-events: none;
}
#disable-feeling {
  pointer-events: auto;
}
#feelings {
  justify-content: space-evenly;
}
.Game-Lobby-Chat {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fdf6d8;
}
/* .message-content {
  color: #fdf6d8;
}
.message-meta {
  color: #fdf6d8;
} */
#pvp-chat {
  grid-row-start: 8;
}

.Chat-Window p {
  margin: 0;
}
.Chat-Window .Chat-Header {
  /* height: 45px; */
  border-radius: 6px;
  /* background: #770089; */
  color: #770089;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #770089;
  position: relative;
  cursor: pointer;
}

.Chat-Body {
  width: 100%;
  height: calc(450px - (45px + 70px));
  background: black;
  border: 2px solid purple;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#Chat-Body {
  width: 100%;
  height: calc(500px - (45px + 70px));
  background: black;
  border: 2px solid purple;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#Chat-Body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
#Chat-Body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px; */
  max-width: 200px;
  background-color: #430067;
  border-radius: 5px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  font-size: 16px;
  /* padding-right: 5px;
  padding-left: 5px; */
  overflow-wrap: break-word;
  word-break: break-word;
}
#Chat-Body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#Chat-Body .message-container::-webkit-scrollbar {
  display: none;
}
#Chat-Body .message .message-meta {
  display: flex;
  font-size: 10px;
}
.Chat-Window .Chat-Body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.Chat-Window .Chat-Body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px; */
  max-width: 200px;
  background-color: #6b00a4;
  border-radius: 5px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  /* padding-right: 5px;
  padding-left: 5px; */
  overflow-wrap: break-word;
  word-break: break-word;
}
.Chat-Window .Chat-Body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Chat-Window .Chat-Body .message-container::-webkit-scrollbar {
  display: none;
}
#you {
  justify-content: flex-end;
}
#you .message-content {
  justify-content: flex-end;
}
#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
#other {
  justify-content: flex-start;
}
#Chat-Body #other .message-content {
  justify-content: flex-start;
  background-color: #9e9901;
  color: black;
}
#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.Chat-Window .Chat-Body .message .message-meta {
  display: flex;
  font-size: 10px;
}
.Chat-Window .chat-footer button {
  border: 0;
  /* display: grid; */
  place-items: center;
  cursor: pointer;
  /* font-weight: 700; */
  /* font-size: 18px; */
  
}
.side-drawer {
  color: #fdf6d8;
}

#dropdown-basic-button-toggle:after {
  display: none;
}
.dropdown-toggle::after {
  display: none;
}
.nav-tabs .nav-link {
  background-color: transparent !important;
}

.story-block {
  position: absolute;
  margin-top: 33%;
  margin-left: -12%;
  height: 35%;
  left: 0%;
}
#ui-hud {
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
}
#ascean-stats {
  width: 100%;
}
#story-ascean {
  top: 12.5%;
  pointer-events: visible;
}
.story-ascean {
  background-color: rgba(0, 0, 0, 1);
  border: 3px solid purple;
  box-shadow: 2px 2px 2px black;
  border-radius: 6px;
  width: 50%;
  height: 115%;
  margin-left: 25%;
} 
.story-inventory-bag {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(12, 32.5%);
  justify-content: space-evenly;
  padding: 1%;
  z-index: 99;
  color: #fdf6d8;
  background-color: black;
  border: 3px solid purple;
  box-shadow: 2px 2px 2px black;
  width: 65vw;
  height: 40.25vh;
  overflow-y: scroll;
  border-radius: 6px;
  margin-left: 32.5%;
  margin-top: 33%;
  scrollbar-width: none;
} 
.story-inventory-bag-settings { width: 100%; } 
.story-inventory {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: black;
  color: #fdf6d8;
  font-weight: 600;
  padding: 2.5%;
}; 
#level-up { position: absolute; grid-column-start: 3; margin-left: 65%; margin-top: -0.5%; font-variant: small-caps; font-weight: 700; color: goldenrod; font-size: 25px; z-index: 50; }
.settings-button {
  position: absolute;
  grid-column-start: 1;
  grid-row-start: 1;
  margin-left: -5%;
  margin-top: -1%;
  z-index: 50; 
}
.settings-style { color: goldenrod; }
#story-health {
  background-color: red;
  height: 10%;
  width: 40%;
  margin-left: 4.5%;
  margin-top: 3%;
  border: 2px solid purple;
}
.story-progressxp-text { margin-top: 8.25%; font-size: 16px; margin-left: 15%; }
.story-progress {
  position: absolute;
  overflow: hidden;
  margin-left: 12.5%;
  margin-top: 2.75%;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background: transparent;
}
.story-progress-text { align-items: center; color: black; } 
#story-pic { width: 5.5vw; border: 1px solid #fdf6d8; border-radius: 50%; }
#story-popover-image {  margin-top: 4%; transform: scale(1.75); }