.computer {
    /* grid-column-start: 1;
    grid-row-start: 1; */
    text-align: center;
    position: relative;
    margin-top: -25px;
    margin-left: 0%;
    width: 125px;
    height: 100px;
    background: #a5a300;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    font-variant: small-caps;
    font-size: 28px;
    /* border: 1px solid purple; */
    font-weight: 900;
    opacity: 0;
}
.hidden {
    animation: slide 6s ease-out infinite alternate;
}
@keyframes slide {
    from {
        opacity: 0.5;
        top: 0px;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        top: 300px;
        transform: scale(1);
    }
}
.player {
    /* grid-column-start: 4;
    grid-row-start: 4; */
    text-align: center;
    margin-top: 300px;
    margin-left: -25%;
    position: relative;
    width: 125px;
    height: 100px;
    background: rgb(0, 236, 236);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    font-variant: small-caps;
    font-size: 28px;
    /* border: 1px solid purple; */
    font-weight: 900;
    opacity: 0;
}
.pulse {
    animation: mymove 6s ease-out infinite alternate;
}  
@keyframes mymove {
    from {
        opacity: 0.5;
        bottom: 0px;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        bottom: 300px;
        transform: scale(1);
    }
}
.btn-hide-computer {
    grid-column-start: 1;
    grid-row-start: 5;
}
.btn-pulse-player {
    grid-column-start: 4;
    grid-row-start: 5;
}
.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}

