.computer {
    text-align: center;
    position: relative;
    margin-top: -25px;
    margin-left: -5%;
    width: 125px;
    height: 100px;
    color: #ddd902;
    text-shadow: 2px 2px 2px black;
    white-space: pre-wrap;

    font-variant: small-caps;
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
}
.hidden {
    animation: slide 6s ease-out infinite alternate;
}
@keyframes slide {
    from {
        opacity: 0.65;
        top: 0px;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        top: 425px;
        transform: scale(1.05);
    }
}
.player {
    text-align: center;
    margin-top: 300px;
    margin-left: 25%;
    position: relative;
    width: 125px;
    height: 100px;
    color: rgb(0, 255, 255);
    text-shadow: 2px 2px 2px black;
    white-space: pre-wrap;
    font-variant: small-caps;
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
}
.pulse {
    animation: mymove 6s ease-out infinite alternate;
}  
@keyframes mymove {
    from {
        opacity: 0.65;
        bottom: -125px;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        bottom: 300px;
        transform: scale(1.05);
    }
}
.btn-hide-computer {
    grid-column-start: 1;
    grid-row-start: 5;
}
.btn-pulse-player {
    grid-column-start: 4;
    grid-row-start: 5;
}
.hide {
    opacity: 0;
    pointer-events: none;
    display: none;
}

@media screen and (min-width: 800px) and (max-width: 1001px) and (min-height: 600px) and (max-height: 900px) {
    @keyframes slide {
        from {
            opacity: 0.65;
            top: 0px;
            transform: scale(0.5);
        }
        to {
            opacity: 1;
            top: 275px;
            transform: scale(1.05);
        }
    }
    @keyframes mymove {
        from {
            opacity: 0.65;
            bottom: 25px;
            transform: scale(0.5);
        }
        to {
            opacity: 1;
            bottom: 300px;
            transform: scale(1.05);
        }
    }
    .hidden {
        animation: slide 3s ease-out infinite alternate;
    }
    .pulse {
        animation: mymove 3s ease-out infinite alternate;
    }  
}